/* nav */
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 0.5rem;
  color: #6c757d; 
}

/* Video */
#courseVideo{
  width: 100%;
  height: 450px;
}
.courseVideo{
  width: 100%;
  height: 450px;
}
.video-wrapper { 
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.video-cover {
  position: relative;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #e64860;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.play-button:hover {
  background: #f1f1f1;
}

@media (max-width: 767px) {
  .video-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

/* Icons */
.circle-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 15px;
  color: #808080;
  border-color: #f0f0f0;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Leaderbord*/
.leader-msg{
  color: #5d67a1;
}
.leaderboard-list {
  background-color: #f8fbfc;
  padding: 1rem;
  border-radius: 1rem;
}

.leader-card {
  height: 50px;
  background-color: #f5f9fb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: 500;
}

/* Progress Bar */
.progress-bar{
  background-color: #6abd8a;
  transition: width 1.5s ease-in-out;
}
.you-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #c9c9c9;
  border-style: solid;
  color: #6c74a8;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 10px;
}
.percent{
  font-size: 10px;
  color: #6c74a8;
}

/* Cards*/
.badge1{
  background-color: #f2faf8;
  color: #53bebf;
  font-size: 15px;
}
.badge2{
background-color: #fdf2f4;
color: #e9888c;
font-size: 15px;
}
.icon-toggle::after {
  content: '+';
  font-size: 1.25rem;
  font-weight: bold;
}
a[aria-expanded="true"] .icon-toggle::after {
  content: '−';
}
a[aria-expanded="true"] .desktop-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.line {
  width: 100%;
  margin: 0 auto;
}

/*Exam*/
.question-circle {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid #2e44ff;
  color: #2e44ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
.question-circle.active {
  background-color: #2e44ff;
  color: white;
}
.option-box {
  border: 2px solid #e0e7ff;
  border-radius: 12px;
  background-color: #f8f9fc;
  padding: 14px 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.option-box.selected {
  background-color: #2e44ff;
  color: white;
  border-color: #2e44ff;
}

/* Comments*/
.btn-submit{
  background-color: #41b69d;
  color: #eefaf9;
}.comment-wrapper {
  position: relative;
}
.comment-wrapper:hover .delete-icon {
  display: block;
}
.delete-icon {
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
  padding: 5px;
  font-size: 18px;
}